$textColor: #333;
$mainColor:cadetblue;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, a{
  color:$textColor;
}
a{
  text-decoration: none;
}

.clearfix:before{
  content:'';
  display: block;
  clear: both;
}

button{background-color: #efefef; border:1px solid #999999; padding: 5px 10px; border-radius: 5px;}