<!DOCTYPE html>
<html>
    <head>
        <%- include('../src/common/head.ejs') -%>
        <link rel="stylesheet" href="../dist/bundleCss.css">
    </head>

    <body>
        <div>aaaa</div>

        <%- include('../src/common/header.ejs') -%>
    </body>
</html>